<DOCTYPE html>
<html>
  <head>
    <title>Capture the City</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css"> 
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
<!--    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJKftfoRUr-NfgsY5sz2lS9DmOWKhDOc0&sensor=true&amp;libraries=places">
    </script>
-->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="jquery.geocomplete.js"></script>

    <style type=text/css>
     html {
        height: 100%;
      }

      body {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map-canvas {
        height:95%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
      }
     .navbar{
       margin-bottom: 0px;
       border-radius: 0px;
     }

    </style>
  </head>
  <body>
   
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
	<div class="container container-full-width">
	  <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </a>
          <a class="navbar-brand" href="#">Capture the City</a>
          <div class="nav-collapse collapse navbar-inverse-collapse">
            <form class="navbar-form pull-left" action="">
              <input type="text" class="form-control" placeholder="City name" id="geocomplete">
            </form>
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
		<ul class="dropdown-menu" data-no-collapse="true" style="padding:15px;">
		  <form class="form" id="formLogin"> 
		    <a href="/auth/facebook"><img src="login-with-facebook.png" width="154" height="22"></a>
		  </form>
		</ul>
              </li>
            </ul>
	  </div>
	</div>
      </div>     
    </div>

    <div id="map-canvas"></div>
    <script>

       navigator.geolocation.getCurrentPosition(readLocation);

       var latitude;
       var longitude;
       function readLocation(position) {
         latitude = position.coords.latitude;
         longitude = position.coords.longitude;
       };

      $(function(){

        var map = $("#geocomplete").geocomplete({
          map: "#map-canvas",
          mapOptions: {
            zoom: 8
          },
          location: [46, 19],
        });
      });

    </script>

  </body>
</html>
